*{
    margin: 0;
    padding: 0;
}
a,p{
    font-family: Noto Sans JP;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/* anchor variables */

/* anchor variables */
:root{
    /* font size */
    --fs-h1: 80.11px;
    --fs-h2: 64.09px;
    --fs-h3: 51.27px;
    --fs-h4: 41.02px;
    --fs-h5: 32.81px;
    --fs-h6: 26.25px;
    --fs-p: 21px;
    --fs-small: 16.8px;

    /* color */
    --clr-primary: #EDEBE4;
    --clr-secondary: #E1D2C1;
    --clr-tertiary: #936F37;

    /* font color */
    --fc-100: #2c261b;
    --fc-90: #413b33;
    --fc-75: #605c54;
    --fc-50: #95928d;
}
@media (max-width: 1000px){
    :root{
        --fs-h1: 76.1px;
        --fs-h2: 60.9px;
        --fs-h3: 48.7px;
        --fs-h4: 39.0px;
        --fs-h5: 31.2px;
        --fs-h6: 24.9px;
        --fs-p: 19.9px;
        --fs-small: 16.0px;
    }
}
@media (max-width: 750px){
    :root{
        --fs-h1: 72.2px;
        --fs-h2: 57.9px;
        --fs-h3: 46.3px;
        --fs-h4: 37.1px;
        --fs-h5: 29.6px;
        --fs-h6: 23.7px;
        --fs-p: 18.9px;
        --fs-small: 15.2px;        
    }
}
@media (max-width: 562.5px){
    :root{
        --fs-h1: 68.7px;
        --fs-h2: 55.0px;
        --fs-h3: 44.0px;
        --fs-h4: 35.2px;
        --fs-h5: 28.1px;
        --fs-h6: 22.5px;
        --fs-p: 18.0px;
        --fs-small: 14.4px;        
    }
}
@media (max-width: 421.875px){
    :root{
        --fs-h1: 65.3px;
        --fs-h2: 52.3px;
        --fs-h3: 41.8px;
        --fs-h4: 33.4px;
        --fs-h5: 26.7px;
        --fs-h6: 21.4px;
        --fs-p: 17.1px;
        --fs-small: 13.7px;        
    }
}
/* nav */
.navbar{
    background-color: var(--clr-primary);
    padding: 24px 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.brand-title a{
    font-family: Alex Brush;
    font-size: 40px;
    color: #3a352c;
}
.navbar-links ul{
    display: flex;
    column-gap: 24px;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 400;
    border: none;
    background-color: transparent;
}
.navbar-links li a:hover{
    border-bottom: solid 3px var(--clr-tertiary);
    color: var(--clr-tertiary);
    padding-bottom: 6px;
}
.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.nav-icon svg{
    fill: var(--fc-75);
    margin-top: 6px;
    height: 23px;
    width: 23px;
}
.nav-icon svg:hover{
    fill: var(--clr-tertiary);
}

.toggle-button{
    position: absolute;
    top: 34px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--clr-tertiary);
    border-radius: 100px;
}

.angebote-link:hover .angebote-dropdown{
    display: flex;
}
.angebote-dropdown{
    margin: 9px 0px 0px -32px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #EDEBE4;
    padding: 16px 32px;
}
.angebote-dropdown a{
    padding: 8px 0;
}
.angebote-dropdown a:hover{
    padding-bottom: 5px;
}

@media (max-width: 1000px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        margin: auto;
    }
    .navbar-container{
        flex-direction: column;
        align-items: start;
    }
    .navbar-links ul{
        flex-direction: column;
        row-gap: 12px;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .angebote-dropdown{
        position: relative;
        margin: 9px 0 0 0;
        padding: 0;
    }
}
.angebote-nav{
    padding: 32px;
}
.angebote-nav-container{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.angebote-nav-container a{
    font-size: 21px;
}
.angebote-nav-container a:hover{
    color: var(--clr-tertiary);
}

.angebote-nav{
    padding: 24px 0 0 0;
    background-color: var(--clr-secondary);
}
.angebote-nav-container{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    width: 70%;
    margin: auto;
    border-bottom: solid 1px gray;
}

.angebote-nav-container a{
    font-size: 22px;
    font-weight: 300;
    padding: 16px 0;
    transition: 0.1s;
}
.angebote-nav-active{
    border-bottom: solid 3px #936F37;
    margin-bottom: -2px;
    color: #936F37;
}
.angebote-nav-container a:hover{
    color: #936F37;
}



.gallery{
    background-color: var(--clr-secondary);
    padding: 150px 0;
}
.gallery-container{
    max-width: 1400px;
    width: 80%;
    margin: auto;
}
.gallery-container h1{
    font-size: 50px;
    font-family: Merriweather;
    color: var(--fc-title);
    margin-bottom: 100px;
    border-left: solid 6px var(--clr-tertiary);
    padding-left: 14px;
}
.gallery-grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 18px;
}
.gallery-card{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-card img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.gallery-card img:hover{
    filter: brightness(70%);
    cursor: pointer;
    transform: scale(1.05);
}
.nails-border1{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 0;
    left: 0;
    border-left: solid 6px var(--clr-tertiary);
    border-top:  solid 6px var(--clr-tertiary);
}
.nails-border2{
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 0;
    right: 0;
    border-right: solid 6px var(--clr-tertiary);
    border-bottom:  solid 6px var(--clr-tertiary);
}
#FullImageView{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}
#FullImage{
    padding: 24px;
    max-width: 98%;
    max-height: 98%;
}
#CloseButton1{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 32px;
    color: white;
    cursor: pointer;
}
#CloseButton2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}