*{
    margin: 0;
    padding: 0;
}
a,p{
    font-family: Noto Sans JP;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
/* nav */
.navbar{
    background-color: #EDEBE4;
    padding: 24px 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.brand-title a{
    font-family: Alex Brush;
    font-size: 40px;
    color: #3a352c;
}
.navbar-links ul{
    display: flex;
    column-gap: 24px;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 400;
    border: none;
    background-color: transparent;
}
.navbar-links a:hover{
    border-bottom: solid 3px #936F37;
    color: #936F37;
    padding-bottom: 6px;
}


.toggle-button{
    position: absolute;
    top: 34px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #936F37;
    border-radius: 100px;
}

.angebote-link:hover .angebote-dropdown{
    display: flex;
}
.angebote-dropdown{
    margin: 9px 0px 0px -32px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #EDEBE4;
    padding: 16px 32px;
}
.angebote-dropdown a{
    padding: 8px 0;
}
.angebote-dropdown a:hover{
    padding-bottom: 5px;
}

@media (max-width: 1000px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        margin: auto;
    }
    .navbar-container{
        flex-direction: column;
        align-items: start;
    }
    .navbar-links ul{
        flex-direction: column;
        row-gap: 12px;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .angebote-dropdown{
        position: relative;
        margin: 9px 0 0 0;
        padding: 0;
    }
}
.angebote-nav{
    padding: 32px;
}
.angebote-nav-container{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.angebote-nav-container a{
    font-size: 21px;
}
.angebote-nav-container a:hover{
    color: #936F37;
}


.price{
    background-color: #E1D2C1;
    padding: 150px 0;
}
.price-container{
    width: 65%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.price-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #936F37;
}
.price-card h3{
    font-family: Merriweather;
    font-size: 24px;
}
.price-card p{
    font-family: Noto Sans JP;
    font-size: 24px;
}