*{
    margin: 0;
    padding: 0;
}
a,p{
    font-family: Noto Sans JP;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/* anchor variables */
:root{
    /* font variables */
    --fs-title: clamp(2.5rem, 12vw + 0.25rem, 6.5rem);
    --fs-subtitle: 50px;
    --fs-text: 22px;

    /* color variables */
    --clr-primary: #EDEBE4;
    --clr-secondary: #E1D2C1;
    --clr-tertiary: #936F37;

    /* font color variable */
    --fc-title:#1e1111;
    --fc-paragraph:#25211a;
}

/* nav */
.navbar{
    background-color: #EDEBE4;
    padding: 24px 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.brand-title a{
    font-family: Alex Brush;
    font-size: 40px;
    color: #3a352c;
}
.navbar-links ul{
    display: flex;
    column-gap: 24px;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 400;
    border: none;
    background-color: transparent;
}
.navbar-links a:hover{
    border-bottom: solid 3px #936F37;
    color: #936F37;
    padding-bottom: 6px;
}


.toggle-button{
    position: absolute;
    top: 34px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #936F37;
    border-radius: 100px;
}

.angebote-link:hover .angebote-dropdown{
    display: flex;
}
.angebote-dropdown{
    margin: 9px 0px 0px -32px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #EDEBE4;
    padding: 16px 32px;
}
.angebote-dropdown a{
    padding: 8px 0;
}
.angebote-dropdown a:hover{
    padding-bottom: 5px;
}

@media (max-width: 1000px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        margin: auto;
    }
    .navbar-container{
        flex-direction: column;
        align-items: start;
    }
    .navbar-links ul{
        flex-direction: column;
        row-gap: 12px;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .angebote-dropdown{
        position: relative;
        margin: 9px 0 0 0;
        padding: 0;
    }
}
.angebote-nav{
    padding: 24px 0 0 0;
    background-color: var(--clr-secondary);
}
.angebote-nav-container{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    width: 70%;
    margin: auto;
    border-bottom: solid 1px gray;
}

.angebote-nav-container a{
    font-size: 22px;
    font-weight: 300;
    padding: 16px 0;
    transition: 0.1s;
}
.angebote-nav-active{
    border-bottom: solid 3px #936F37;
    margin-bottom: -2px;
    color: #936F37;
}
.angebote-nav-container a:hover{
    color: #936F37;
}


.description{
    background-color: var(--clr-secondary);
    padding: 50px 0;
}
.description-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    max-width: 1400px;
    margin: auto;
    align-items: center;
}
.description-left{
    padding: 0 24px 0 0;
}
.description-left h1{
    font-size: var(--fs-subtitle);
    color: var(--fc-title);
    margin-bottom: 24px;
}
.description-left p{
    line-height: 36px;
    font-size: var(--fs-text);
}
.description-right img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center 20%;
    -webkit-box-shadow: 15px 15px 0px 4px var(--clr-tertiary); 
    box-shadow: 15px 15px 0px 4px var(--clr-tertiary);
}
.description-gallery{
    margin-top: 24px;
}
.description-gallery a{
    background-color: var(--clr-tertiary);
    font-family: Noto Sans JP;
    color: #1E1911;
    font-size: 18px;
    padding: 12px 22px;
    transition: background-color 0.2s;
    font-weight: 500;
}
.description-gallery a:hover{
    background-color:transparent;
    border: solid 3px var(--clr-tertiary);
    padding: 9px 19px;
}

.price{
    background-color: var(--clr-primary);
    padding: 150px 0;
}
.price-container{
    width:70%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.price-container h1{
    margin-bottom: 24px;
    font-size: var(--fs-subtitle);
    color: var(--fc-title);
}
.price-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #936F37;
}
.price-card h3{
    font-family: Merriweather;
    font-size: 24px;
}
.price-card p{
    font-family: Noto Sans JP;
    font-size: 24px;
}
.price-termin{
    margin-top: 24px;
}
.price-termin a{
    background-color: var(--clr-tertiary);
    font-family: Noto Sans JP;
    color: #1E1911;
    font-size: 18px;
    padding: 12px 22px;
    transition: background-color 0.2s;
    font-weight: 500;
}
.price-termin a:hover{
    background-color:transparent;
    border: solid 3px var(--clr-tertiary);
    padding: 9px 19px;
}