*{
    margin: 0;
    padding: 0;
}
a,p{
    font-family: Noto Sans JP;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
/* anchor variables */
:root{
    /* font size */
    --fs-title: 80px;
    --fs-h1: 62.71px;
    --fs-h2: 52.25px;
    --fs-h3: 43.55px;
    --fs-h4: 36.29px;
    --fs-h5: 30.24px;
    --fs-h6: 25.2px;
    --fs-p: 21px;
    --fs-small: 17.5px;

    /* color */
    --clr-primary: #EDEBE4;
    --clr-secondary: #E1D2C1;
    --clr-tertiary: #936F37;

    /* font color */
    --fc-100: #2c261b;
    --fc-90: #413b33;
    --fc-75: #605c54;
    --fc-50: #95928d;
    --fc-10: #eae9e8;
    --fc-5: #f4f4f4;
    --fc-3: #f9f8f8;
}
/* responsive typography */
@media (max-width: 1000px){
    :root{
        --fs-h1: 76.1px;
        --fs-h2: 60.9px;
        --fs-h3: 48.7px;
        --fs-h4: 39.0px;
        --fs-h5: 31.2px;
        --fs-h6: 24.9px;
        --fs-p: 19.9px;
        --fs-small: 16.0px;
    }
}
@media (max-width: 750px){
    :root{
        --fs-h1: 72.2px;
        --fs-h2: 57.9px;
        --fs-h3: 46.3px;
        --fs-h4: 37.1px;
        --fs-h5: 29.6px;
        --fs-h6: 23.7px;
        --fs-p: 18.9px;
        --fs-small: 15.2px;        
    }
}
@media (max-width: 562.5px){
    :root{
        --fs-h1: 68.7px;
        --fs-h2: 55.0px;
        --fs-h3: 44.0px;
        --fs-h4: 35.2px;
        --fs-h5: 28.1px;
        --fs-h6: 22.5px;
        --fs-p: 18.0px;
        --fs-small: 14.4px;        
    }
}
@media (max-width: 421.875px){
    :root{
        --fs-h1: 65.3px;
        --fs-h2: 52.3px;
        --fs-h3: 41.8px;
        --fs-h4: 33.4px;
        --fs-h5: 26.7px;
        --fs-h6: 21.4px;
        --fs-p: 17.1px;
        --fs-small: 13.7px;        
    }
}

/* nav */
.navbar{
    background-color: var(--clr-primary);
    padding: 24px 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.brand-title a{
    font-family: Alex Brush;
    font-size: var(--fs-h4);
    color: var(--fc-90);
}
.navbar-links ul{
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a, .navbar p{
    font-family: Noto Sans JP;
    font-size: var(--fs-p);
    font-weight: 400;
    border: none;
    background-color: transparent;
}
.navbar-links li a:hover{
    border-bottom: solid 3px var(--clr-tertiary);
    color: var(--clr-tertiary);
    padding-bottom: 6px;
}

.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.nav-icon svg{
    fill: var(--fc-75);
    margin-top: 6px;
    height: 23px;
    width: 23px;
}

.nav-icon svg:hover{
    fill: var(--clr-tertiary);
}

.toggle-button{
    position: absolute;
    top: 34px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--clr-tertiary);
    border-radius: 100px;
}

.angebote-link:hover .angebote-dropdown{
    display: flex;
}
.angebote-dropdown{
    margin: 9px 0px 0px -32px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--clr-primary);
    padding: 16px 32px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.angebote-dropdown a{
    padding: 8px 0;
}
.angebote-dropdown a:hover{
    padding-bottom: 5px;
}

@media (max-width: 1050px){
    .toggle-button{
        display: flex;
    }
    .navbar p{
        display: none;
    }
    .navbar-links{
        display: none;
        margin: auto;
    }
    .navbar-container{
        flex-direction: column;
        align-items: start;
    }
    .navbar-links ul{
        flex-direction: column;
        row-gap: 12px;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .angebote-dropdown{
        position: relative;
        margin: 9px 0 0 0;
        padding: 0;
    }
}

/* Shrink logo if no space*/
@media (max-width: 450px){
    .brand-title a{
        font-size: var(--fs-h5);
    }
}

/* title */
.title{
    padding: 350px 0;
    background-image: url(img/hero-bg.jpg);
    background-size: cover;
    background-color: rgba(240, 222, 209, 0.5);
    background-blend-mode:luminosity;
    background-position: center;
    width: 100%;
}

.title-container{
    width: 85%;
    max-width: 1400px;
    margin: auto;
    text-align: left;
}
.title-container p{
    font-family: Playball;
    font-size: var(--fs-h3);
    color: var(--clr-tertiary);
}
.title-container h1{
    font-family: Merriweather;
    font-size: var(--fs-title);
    color: var(--fc-100);
}
.title-angebote{
    margin-top: 50px;
}
.title-container a{
    background-color: var(--clr-tertiary);
    font-family: Noto Sans JP;
    color: var(--fc-10);
    font-size: var(--fs-small);
    padding: 12px 22px;
    transition: background-color 0.2s;
    font-weight: 500;
}
.title-container a:hover{
    background-color:transparent;
    border: solid 3px var(--clr-tertiary);
    padding: 9px 19px;
}

/* animation */
.hidden{
    opacity: 0.3;
    transition: all 0.8s;
    scale: 0.95;
}
.show{
    opacity: 1;
    scale: 1;
}


/* welcome */

.welcome{
    padding: 120px 0;
    background-color: var(--clr-secondary);
}
.welcome-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    align-items: center;

}
.welcome-container video{
    width: 100%;
}
.welcome-header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.welcome-header h1{
    font-size: var(--fs-h3);
    font-family: Merriweather;
    color: var(--fc-100);
    border-left: solid 6px var(--clr-tertiary);
    padding-left: 14px;
}
.welcome-text p{
    color: var(--fc-90);
    font-size: var(--fs-p);
    font-family: Noto Sans JP;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

/* angebote */
.angebote{
    position: relative;
    background-color: var(--clr-primary);
    padding: 120px 0;
}
.angebote-header{
    max-width: 1400px;
    width: 85%;
    margin: 0 auto 40px auto;
}
.angebote h1{
    font-size: var(--fs-h3);
    font-family: Merriweather;
    color: var(--fc-100);
    border-left: solid 6px var(--clr-tertiary);
    padding-left: 14px;
}
.angebote-container{
    max-width: 2000px;
    width: 100%;
    margin: auto;
}
.angebote-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.angebote-card{
    position: relative;
    height: 600px;
    overflow: hidden;
}
.angebote-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    filter: brightness(75%);
}
.angebote-card h2{
    width: 100%;
    text-align: center;
    bottom: 10%;
    position: absolute;
    font-family: Playball;
    font-size: var(--fs-h1);
    color: var(--fc-10);
}
.angebote-link:hover .angebote-image{
    filter: brightness(95%);
    transform: scale(1.05);
}
.pink-deco2{
    position: absolute;
    top: 5%;
    right: 10%;
    margin: auto;
    max-width: 1400px;
}
.pink-deco2 img{
    height: 170px;
}

/* products */
.product{
    position: relative;
    background-color: var(--clr-secondary);
    padding: 120px 0;
}
.product-header{
    max-width: 1400px;
    width: 85%;
    margin: 0 auto 40px auto;
}
.product h1{
    font-size: var(--fs-h3);
    font-family: Merriweather;
    color: var(--fc-100);
    border-left: solid 6px var(--clr-tertiary);
    padding-left: 14px;
}
.product-container{
    max-width: 1400px;
    width: 85%;
    margin: auto;
}
.product-slide{
    background-color: var(--clr-primary);
    padding: 24px 48px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
}
.product-image{
    display: flex;
}
.product-text{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.product-text h2{
    color: var(--fc-90);
    font-family: Merriweather;
    font-size: var(--fs-h5);
    border-left: solid 3px var(--clr-tertiary);
    padding-left: 10px;
}
.product-text p{
    color: var(--fc-90);
    font-family:Noto Sans JP;
    font-size: var(--fs-p);
}
.product-image img{
    height: 400px;
    width: 300px;
    object-fit: contain;
}
.product-button{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}
.product-button button {
    background-color: transparent;
    border: solid 2px var(--clr-tertiary);
    color: var(--clr-tertiary);
    padding: 16px 20px;
    border-radius: 100px;
    transition: background-color 0s, transform 0.2s;
}
.product-button button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.product-button button:active {
    background-color: var(--clr-tertiary);
    color: var(--clr-primary);
}
/* team */

.team{
    position: relative;
    padding: 120px 0;
    background-color: var(--clr-primary);
}
.team-container{
    max-width: 1400px;
    width: 85%;
    margin: auto;
}
.team-header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.team-header h1{
    font-size: var(--fs-h3);
    font-family: Merriweather;
    color: var(--fc-100);
    border-left: solid 6px var(--clr-tertiary);
    padding-left: 14px;
}
.team-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 50px;
}
.team-grid img{
    width: 100%;
    height: 100%;
    background: rgb(202,148,81);
    background: linear-gradient(0deg, rgba(202,148,81,1) 0%, rgba(255,218,0,1) 100%);
    padding: 3px;
}
.team-card{
    position: relative;
    width: 100%;
}
.team-text{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -31.75px;
}
.team-bg{
    background-color: var(--clr-tertiary);
    display: inline-block;
    padding: 10px;
}
.team-text h2{
    font-family: Merriweather;
    font-size: var(--fs-p);
    font-weight: 600;
    color: var(--fc-10);
}
.team-text p{
    font-family: Noto Sans JP;
    font-size: var(--fs-small);
    color: var(--fc-5);
}
.pink-deco1{
    position: absolute;
    top: 50px;
    left: 10%;
    margin: auto;
}
.pink-deco1 img{
    height: 200px;
}

/* info */

.info{
    padding: 120px 0;
    background-color:var(--clr-secondary);
}
.info-header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.info-header h1{
    font-size: var(--fs-h3);
    font-family: Merriweather;
    color: var(--fc-100);
    border-left: solid 6px var(--clr-tertiary);
    padding-left: 14px;
}
.info-container{
    max-width: 1400px;
    width: 85%;
    margin: auto;
}
.info-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
}
.info-map iframe{
    width: 100%;
}
.open{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-primary);
    text-align: center;
}
.open-grid{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}
.open-header{
    display: flex;
    justify-content: center;
}
.open-grid h2{
    font-size: var(--fs-h5);
    color: var(--fc-100);
    margin-bottom: 10px;
    padding-left: 10px;
}
.open-time{
    padding-bottom: 10px;
    border-bottom: var(--clr-tertiary) solid 1px;
}
.open-grid h3{
    color: var(--fc-100);
    font-size: var(--fs-p);
    font-family: Noto Sans JP;
    font-weight: 500;
}
.open-grid p{
    color: var(--fc-90);
    font-size: var(--fs-p);
    font-family: Noto Sans JP;
    font-weight: 400;
}

/* footer */

footer{
    background-color: var(--clr-primary);
    padding: 100px 0;
}
.footer-container{
    max-width: 1400px;
    width: 85%;
    margin: auto;
}
.footer-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}
.footer-card-social-media-container{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer-card-social-media{
    display: flex;
    column-gap: 16px;
    align-items: center;
}
.footer-card-social-media a{
    align-items: center;
}
.footer-card{
    display: flex;
    column-gap: 16px;
}


.footer-container a{
    display: block;
    font-size: var(--fs-small);
    color: #8e8c88;
    font-family: Noto Sans JP;
}
svg{
    fill: #8e8c88;
    width: 20px;
    height: 20px;
}
.besago{
    max-width: 1400px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
}
.besago p{
    color: rgb(160, 160, 160);
    font-family: Noto Sans JP;
    font-size: var(--fs-small);
}
.copyright{
    color: rgb(160, 160, 160);
    font-family: Noto Sans JP;
    font-size: var(--fs-small);
}
.impressum{
    color: var(--clr-tertiary);
    font-family: Noto Sans JP;
    font-size: var(--fs-small);
}

@media (max-width: 750px){
    .title{
        background-image: url(img/responsive-bg.jpg);
    }
    .title-container{
        text-align: center;
    }
}
@media (max-width: 450px){
    .navbar-container{
        width: 95%;
    }
    .welcome-container{
        width: 95%;
    }
    .title-container{
        width: 100%;
    }
    .angebote-container{
        width: 100%;
    }
    .product-container{
        width: 100%;
    }
    .team-container{
        width: 100%;
    }
    .info-container{
        width: 100%;
    }
    .team-grid img{
        padding: 0;
    }
}
/* responsive padding */
@media (max-width: 550px){
    .product-slide{
        padding: 16px;
    }
    .welcome{
        padding: 80px 0;
    }
    .title{
        padding: 80px 0;
    }
    .angebote{
        padding: 80px 0;
    }
    .product{
        padding: 80px 0;
    }
    .team{
        padding: 80px 0;
    }
    .info{
        padding: 80px 0;
    }
}