*{
    margin: 0;
    padding: 0;
}
a,p{
    font-family: Noto Sans JP;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/* anchor variables */
:root{
    /* font size */
    --fs-h1: 62.71px;
    --fs-h2: 52.25px;
    --fs-h3: 43.55px;
    --fs-h4: 36.29px;
    --fs-h5: 30.24px;
    --fs-h6: 25.2px;
    --fs-p: 21px;
    --fs-small: 17.5px;

    /* color */
    --clr-primary: #EDEBE4;
    --clr-secondary: #E1D2C1;
    --clr-tertiary: #936F37;

    /* font color */
    --fc-100: #2c261b;
    --fc-90: #413b33;
    --fc-75: #605c54;
    --fc-50: #95928d;
    --fc-10: #eae9e8;
    --fc-5: #f4f4f4;
    --fc-3: #f9f8f8;
}
/* responsive typhography */



/* nav */
.navbar{
    background-color: #EDEBE4;
    padding: 24px 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.brand-title a{
    font-family: Alex Brush;
    font-size: var(--fs-h4);
    color: #3a352c;
}
.navbar-links ul{
    display: flex;
    column-gap: 24px;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    font-family: Noto Sans JP;
    font-size: var(--fs-p);
    font-weight: 400;
    border: none;
    background-color: transparent;
}
.navbar-links a:hover{
    border-bottom: solid 3px #936F37;
    color: #936F37;
    padding-bottom: 6px;
}

.toggle-button{
    position: absolute;
    top: 34px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #936F37;
    border-radius: 100px;
}

.angebote-link:hover .angebote-dropdown{
    display: flex;
}
.angebote-dropdown{
    margin: 9px 0px 0px -32px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #EDEBE4;
    padding: 16px 32px;
}
.angebote-dropdown a{
    padding: 8px 0;
}
.angebote-dropdown a:hover{
    padding-bottom: 5px;
}

@media (max-width: 1000px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        margin: auto;
    }
    .navbar-container{
        flex-direction: column;
        align-items: start;
    }
    .navbar-links ul{
        flex-direction: column;
        row-gap: 12px;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .angebote-dropdown{
        position: relative;
        margin: 9px 0 0 0;
        padding: 0;
    }
}


.team{
    background-color: var(--clr-secondary);
}
.team-container{
    width: 60%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.team-header{
    margin: auto;
    padding: 80px 0 40px 0;
}
.team-container h1{
    font-size: var(--fs-h3);
    font-family: Merriweather;
    color: var(--fc-100);
    border-left: solid 6px var(--clr-tertiary);
    padding-left: 14px;
}
.team-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    align-items: center;
    justify-content: center;
}
.team-left{
    width: 100%;
    text-align: right;
}
.team-left img{
    width: 100%;
}
.team-right, .team-right1, .team-right2{
    background-color: var(--clr-tertiary);
    width: 100%;
}.team-right2{
    display: none;
}
.right-padding{
    padding: 24px;
}
.team-card h2{
    color: var(--fc-3);
    font-size: var(--fs-h5);
    font-weight: 600;
    margin-bottom: 4px;
}
.team-card h3{
    color: var(--fc-5);
    font-size: var(--fs-p);
    font-weight: 600;
    font-family: Noto Sans JP;
    margin-bottom: 16px;
}
.team-card p{
    color: var(--fc-10);
    font-size: var(--fs-p);
    font-weight: 400;
}


@media (max-width: 1200px){
    .team-container{
        width: 70%;
    }
}
@media (max-width: 1050px){
    .team-container{
        width: 80%;
    }
}
@media (max-width: 900px){
    .team-container{
        width: 90%;
    }
}

@media (max-width: 799px){
    .team-right2{
        display: block;
    }
    .team-right1{
        display: none;
    }
}